IRLA_APCS/Connected Services/ServiceReference1/apcswebservice.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="LotRptIgnoreError">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mcNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="errorCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LotRptIgnoreErrorResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="LotRptIgnoreErrorResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="LotRptIgnoreErrorSoapIn">
    <wsdl:part name="parameters" element="tns:LotRptIgnoreError" />
  </wsdl:message>
  <wsdl:message name="LotRptIgnoreErrorSoapOut">
    <wsdl:part name="parameters" element="tns:LotRptIgnoreErrorResponse" />
  </wsdl:message>
  <wsdl:portType name="ApcsWebServiceSoap">
    <wsdl:operation name="LotRptIgnoreError">
      <wsdl:input message="tns:LotRptIgnoreErrorSoapIn" />
      <wsdl:output message="tns:LotRptIgnoreErrorSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ApcsWebServiceSoap" type="tns:ApcsWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LotRptIgnoreError">
      <soap:operation soapAction="http://tempuri.org/LotRptIgnoreError" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ApcsWebServiceSoap12" type="tns:ApcsWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LotRptIgnoreError">
      <soap12:operation soapAction="http://tempuri.org/LotRptIgnoreError" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ApcsWebService">
    <wsdl:port name="ApcsWebServiceSoap" binding="tns:ApcsWebServiceSoap">
      <soap:address location="http://webserv.thematrix.net/apcscontrolsystem/apcswebservice.asmx" />
    </wsdl:port>
    <wsdl:port name="ApcsWebServiceSoap12" binding="tns:ApcsWebServiceSoap12">
      <soap12:address location="http://webserv.thematrix.net/apcscontrolsystem/apcswebservice.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>